.caso-exito
    margin-top: 4em
    margin-bottom: 4em
    color: #5A5A5A
    .caso-exito-flex
        display: flex
        flex-direction: row
        column-gap: 2em

        .caso-exito-text
            max-width: 700px
            width: 100%

            h2
                font-size: 25px
                margin-top: 1em
                margin-bottom: 1em
            

            h3
                margin-bottom: 1em
                font-size: 18px
                line-height: 160%
            
            p
                
                line-height: 160%
            
        .caso-exito-img
            margin-top: 2em
        
    
