.soluciones-escalables
    margin-top: 4em
    margin-bottom: 4em
    color: #5A5A5A
    text-align: center
  
    h2
        font-size: 25px
        line-height: 160%
        margin-bottom: 2em
    
    p
        max-width: 1100px
        width: 100%
        margin: 0 auto
        font-size: 18px
        line-height: 160%
    
    .soluciones-escalables-img
        
        justify-content: center
        display: flex
        flex-direction: row

        img
            max-width: 600px
            width: 100%
    
